/node_modules
/public
/public/hot
/public/storage
/public/main.css
/public/js
/public/images
/public/images_documents
/public/mix-manifest.json
/public/favicon.png
/public/*.js
/resources/views/vendor
/storage/*.key
/vendor

# local env files
.env
.env.local
.env.*
.env.*.local

composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json