$text-coffee-dark: #2E221E;
$text-coffee-normal: #41302A;
$text-coffee-light: #775649;
$coffee-lighter: #8A6454;
$text-white: #FFFFFF;
$text-gray: #9EA0A5;

$black: #202020;
$success: #00C292;
$danger: #D22A20;
$white: #FFFFFF;

$doc-step-border-normal: #D3CECE;
$doc-step-border-current: #EF634C;

$page-border: #E8E8E8;
$input-border-normal: #EBEBEB;
$input-border-dark: #DEDEDE;
$modal-border-normal: #E6E8EC;

$li-hover-bg: #FCFAFA;

$bg-body: #FCFAFA;
$bg-white: #FFFFFF;

$toast-bg-info: #775649;
$toast-bg-warning: #FDB426;
$toast-bg-success: #00C292;
$toast-bg-danger: #D22A20;
$toast-bg-alert: #D6D8D9;