.row-content {
  display: flex;
  justify-content: space-between;
  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
  .all-recipients {
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);
    background-color: #ffffff;
    padding: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 300px;

    @media (max-width: 700px) {
      
      margin-right: 0;
    }
    .email-msg {
      height: 185px;
    }
  }
  .col-right-pannel {
    min-width: 390px;
    @media (max-width: 700px) {
      min-width: 0;
    }
    .recipients {
      .recipient-item {
        display: flex;
        align-items: center;
        padding-bottom: 23px;
        margin-top: 20px;
        border-bottom: solid 1px rgb(184, 177, 177);

        .info {
          width: 100%;
        }

        .recipient-number {
          width: 40px;
          min-width: 40px;
          height: 40px;
          border-radius: 50%;
          color: #ef634c;
          background-color: #feefed;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
        }
      }
    }
  }
}
.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  text-align: left;
  color: #2e221e;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #202020;
  margin-top: 0;
}

#send-modal, #kakao-modal {
  @media (min-width: 620px) {
    .modal-dialog {
      max-width: 605px;
      // margin: 1.75rem auto;
    }
    .modal-content {
      width: 605px;
    }
  }
  
  .send-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
    padding-top: 2px;
    img {
      margin-bottom: 25px;
    }
    .you-done {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.35;
      text-align: center;
      color: #41302a;
      margin-bottom: 30px;
    }
  }
  .modal-header {
    border-bottom: none;
  }

}