$text-coffee-dark: #2E221E;
$text-coffee-normal: #41302A;
$text-coffee-light: #775649;
$coffee-lighter: #8A6454;
$text-white: #FFFFFF;
$text-gray: #9EA0A5;

$black: #202020;
$success: #00C292;
$danger: #D22A20;
$white: #FFFFFF;

$doc-step-border-normal: #D3CECE;
$doc-step-border-current: #EF634C;

$page-border: #E8E8E8;
$input-border-normal: #EBEBEB;
$input-border-dark: #DEDEDE;
$modal-border-normal: #E6E8EC;

$li-hover-bg: #FCFAFA;

$bg-body: #FCFAFA;
$bg-white: #FFFFFF;

$toast-bg-info: #775649;
$toast-bg-warning: #FDB426;
$toast-bg-success: #00C292;
$toast-bg-danger: #D22A20;
$toast-bg-alert: #D6D8D9;

$col-primary: #8a6454;
$col-primary-hover: #775649;
$col-primary-click: #b2806b;
$col-primary-focus: #775649;

$col-outline-primary: rgba(255, 255, 255, 1);
$col-outline-primary-hover: rgba(243, 242, 242, 1);
$col-outline-primary-click: rgba(246, 246, 246, 1);
$col-outline-primary-focus: rgba(243, 242, 242, 1);
$col-outline-primary-border: #ebebeb;

$col-other: #ef634c;
$col-other-hover: #d85742;
$col-other-click: #ef715c;
$col-other-focus: #d85742;

$col-trans: rgba(255, 255, 255, 0.01);
$col-trans-hover: rgba(243, 242, 242, 0.055);
$col-trans-click: rgba(246, 246, 246, 0.15);
$col-trans-focus: rgba(243, 242, 242, 0.1);

$font-color-primary: #2e221e;