@import "./colors";
@import "./values";
@import "./typography";

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #2e221e;
  background-color: #e8e4e2;
  height: 100%;
  margin: 0;
  // display: flex;
  // justify-content: center;
  // display: flex
  @media (max-width: 500px) {
    font-size: 0.9rem;
  }
}
.app {
  min-height: calc(100vh - 167px);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #fcfafa;
}
.app-width-full {
  max-width: 1920px !important;
}
h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.31;
  color: #41302a;
}
.app-header {
  height: 56px !important;
}
.btn-primary {
  color: white !important;
  background-color: $col-primary;
  border-color: $col-primary;
  &:not(:disabled) {
    &:not(.disabled) {
      &:active {
        background-color: $col-primary-click;
        border-color: $col-primary-click;
        box-shadow: 0 0 3px 0 $col-primary-hover !important;
      }
    }
    &:not(.disabled).active {
      background-color: $col-primary-click;
      border-color: $col-primary-click;
      box-shadow: 0 0 3px 0 $col-primary-hover !important;
    }
  }
  &:disabled {
    background-color: $col-primary;
    border-color: $col-primary;
  }
  &:hover {
    background-color: $col-primary-hover;
    border-color: $col-primary-hover;
  }
  &:focus {
    background-color: $col-primary-hover;
    border-color: $col-primary-hover;
    box-shadow: 0 0 3px 0 $col-primary-hover;
  }
}
.show {
  > .btn-primary.dropdown-toggle {
    background-color: $col-primary-click;
    border-color: $col-primary-click;
  }
}
.btn-primary.disabled {
  background-color: $col-primary;
  border-color: $col-primary;
}

// ----------------------
.navbar-brand {
  border-bottom: none !important;
}
.ps__scrollbar-y-rail {
  display: none !important;
}
.btn-outline-primary {
  color: black !important;
  background-color: $col-outline-primary !important;
  border: solid 2px $col-outline-primary-border !important;
  &:not(:disabled) {
    &:not(.disabled) {
      &:active {
        background-color: $col-outline-primary-click !important;
        border: solid 2px $col-outline-primary-border !important;
        box-shadow: 0 0 3px 0 $col-outline-primary-hover !important;
      }
    }
    &:not(.disabled).active {
      background-color: $col-outline-primary-click !important;
      border: solid 2px $col-outline-primary-border !important;
      box-shadow: 0 0 3px 0 $col-outline-primary-hover !important;
    }
  }
  &:disabled {
    background-color: $col-outline-primary !important;
    border: solid 2px $col-outline-primary-border !important;
  }
  &:hover {
    background-color: $col-outline-primary-hover !important;
    border: solid 2px $col-outline-primary-border !important;
  }
  &:focus {
    background-color: $col-outline-primary-hover !important;
    border: solid 2px $col-outline-primary-border !important;
    box-shadow: 0 0 3px 0 $col-outline-primary-hover !important;
  }
}
.show {
  > .btn-outline-primary.dropdown-toggle {
    background-color: $col-outline-primary-click !important;
    border: solid 2px $col-outline-primary-border !important;
  }
}
.btn-outline-primary.disabled {
  background-color: $col-outline-primary !important;
  border: solid 2px $col-outline-primary-border !important;
}

// ----------------------

.btn-link {
  color: $col-primary !important;
  padding: 0;
  &:not(:disabled) {
    &:not(.disabled) {
      &:active {
        color: $col-primary-click !important;
      }
    }
    &:not(.disabled).active {
      color: $col-primary-click !important;
    }
  }
  &:disabled {
    color: $col-primary !important;
  }
  &:hover {
    color: $col-primary-hover !important;
  }
  &:focus {
    color: $col-primary-focus !important;
  }
}
.show {
  > .btn-link.dropdown-toggle {
    color: $col-primary-click !important;
  }
}
.btn-link.disabled {
  color: $col-primary !important;
}

// ----------------------

.btn-trans {
  color: white !important;
  background-color: $col-trans;
  border-color: $col-trans;
  &:not(:disabled) {
    &:not(.disabled) {
      &:active {
        background-color: $col-trans-click;
        border-color: $col-trans-click;
        box-shadow: 0 0 3px 0 $col-trans-hover !important;
      }
    }
    &:not(.disabled).active {
      background-color: $col-trans-click;
      border-color: $col-trans-click;
      box-shadow: 0 0 3px 0 $col-trans-hover !important;
    }
  }
  &:disabled {
    background-color: $col-trans;
    border-color: $col-trans;
  }
  &:hover {
    background-color: $col-trans-hover;
    border-color: $col-trans-hover;
  }
  &:focus {
    background-color: $col-trans-hover;
    border-color: $col-trans-hover;
    box-shadow: 0 0 3px 0 $col-trans-hover;
  }
}
.show {
  > .btn-trans.dropdown-toggle {
    background-color: $col-trans-click;
    border-color: $col-trans-click;
  }
}
.btn-trans.disabled {
  background-color: $col-trans;
  border-color: $col-trans;
}

// ----------------------

.btn-other {
  color: white !important;
  background-color: $col-other;
  border-color: $col-other;
  &:not(:disabled) {
    &:not(.disabled) {
      &:active {
        background-color: $col-other-click;
        border-color: $col-other-click;
        box-shadow: 0 0 3px 0 $col-other-hover !important;
      }
    }
    &:not(.disabled).active {
      background-color: $col-other-click;
      border-color: $col-other-click;
      box-shadow: 0 0 3px 0 $col-other-hover !important;
    }
  }
  &:disabled {
    background-color: $col-other;
    border-color: $col-other;
  }
  &:hover {
    background-color: $col-other-hover;
    border-color: $col-other-hover;
  }
  &:focus {
    background-color: $col-other-hover;
    border-color: $col-other-hover;
    box-shadow: 0 0 3px 0 $col-other-hover;
  }
}
.show {
  > .btn-other.dropdown-toggle {
    background-color: $col-other-click;
    border-color: $col-other-click;
  }
}
.btn-other.disabled {
  background-color: $col-other;
  border-color: $col-other;
}

// ----------------------

.form-control {
  height: 40px;
  color: #202020;
  &::placeholder {
    color: #9ea0a5;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 3px 0 #775649;
    border: solid 1px #ebebeb;
  }
}
.was-validated .form-control:invalid,
.form-control.is-invalid,
.input-error {
  border: solid 1px #d22a20 !important;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 #d22a20;
}
.error-text {
  color: #d22a20;
  margin-top: 10px;
}

.e-input-group {
  border: 1px solid #e4e7ea !important;
  border-width: 1px 1px 1px 1px !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.25rem !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  margin-bottom: 0 !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  &::before, &::after {
    background: unset !important;
  }
  &:hover {
    box-shadow: 0 0 3px 0 #775649 !important;
    border: solid 1px #ebebeb !important;
  }
  .e-input-group-icon  {
    font-size: 0.54rem !important;
    color: #9ea0a5 !important;
  }
}

.btn {
  height: 40px;
}
.form-group {
  margin-bottom: 20px;
  @media (max-width: 575px) {
    margin-bottom: 15px;
  }
}
.seperate-bar {
  background: gray;
  width: 100%;
}

// .modal-dialog {
//   top: 50%;
//   transform: translateY(-50%) !important;
// }
.modal-body {
  padding: 0;
}
.modal-content {
  border-radius: 8px;
}
.custom-control .custom-checkbox:hover  {
  cursor: pointer;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border: solid 2px #8a6454 !important;
  background-color: #8a6454 !important;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  color: #fff;
  border: solid 2px #8a6454 !important;
  background-color: #8a6454 !important;
}
.badge-primary {
  color: #fff;
  background-color: $col-primary;
}
.main-container {
  padding: 30px 20px !important;
}
.app-footer {
  color: #9ea0a5;
}

.min-width-75px {
  min-width: 75px;
}
.min-width-124px {
  min-width: 120px;
}
.min-width-136px {
  min-width: 136px;
}
.min-width-230px {
  min-width: 230px;
}
.min-width-378px {
  min-width: 378px;
  @media (max-width: 1060px) {
    min-width: 230px;
  }
  @media (max-width: 430px) {
    min-width: unset;
  }
}
.max-height-43px {
  max-height: 43px;
  min-height: 43px;
}
.input-group {
  border-radius: 4px;
  border: solid 1px #ebebeb;

  .input-group-prepend {
    
    border-radius: 4px;
    .input-group-text {
      height: 40px;
      width: 46px;
      color: #9ea0a5;
      border: none;
      background: white;
      justify-content: center;
      display: flex;
      
      border-radius: 4px;
    }
  }
  .form-control {
    border: none;
    padding-left: 0px;
    &:focus {
      border-left: none !important;
      box-shadow: none;
    }
  }
  &:focus-within {
    box-shadow: 0 0 3px 0 #775649;
    color: #775649;

    .input-group-prepend {
      .input-group-text {
        color: #775649;
      }
    }
  }
  &:hover {
    box-shadow: 0 0 3px 0 #775649;

    .input-group-prepend {
      .input-group-text {
        color: #775649;
      }
    }
  }
}
.vue-tel-input {
  height: 40px;
  border-radius: 4px;
  border: solid 1px #ebebeb !important;
  .dropdown {
    width: 56px;
    border: solid 1px #ebebeb;
    background-color: rgba(235, 235, 235, 0.3);
    .selection {
      justify-content: space-between;
    }
  }
  input {
    border: none;
    padding-left: 15px;
    &:focus {
      border-left: none !important;
      box-shadow: none;
    }
  }
  &:focus-within {
    box-shadow: 0 0 3px 0 #775649 !important;
    color: #775649;
    border: solid 1px #ebebeb !important;
    input {
      color: #775649;
    }
  }
  &:hover {
    box-shadow: 0 0 3px 0 #775649;

    input {
      color: #775649;
    }
  }
}
.content-card {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  .content-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #2e221e;
    margin-bottom: 30px;
  }
}
.comments {
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #9ea0a5;
  word-break: break-word; 
}
.page-link {
  color: #41302a;
  margin: 0 5px;
  border-radius: 4px;
  &:hover {
    color: #775649;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(119, 86, 73, 0.25);
  }
}

.sidebar-auto-scoroll{
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}
.page-item.active .page-link {
  color: #fff;
  background-color: #775649;
  border-color: #775649;
}
.nav-link {
  height: 34px;
  padding: 0.5rem 1rem !important;
  display: flex !important;
  align-items: center;
}
.sidebar-nav {
  position: unset !important;
  width: 100% !important;
  section {
    position: unset !important;
    width: 100% !important;
    max-height: 176px !important;
    ul.nav {
      width: 100%;
      .nav-dropdown.open {
        border-radius: 5px;
        box-shadow: 0 4px 20px 0 rgba(65, 48, 42, 0.15);
        background-color: rgba(255, 255, 255, 0.2);
      }
      li.nav-item {
        margin-bottom: 10px;
        ul.nav-dropdown-items {
          padding-left: 15px;
          padding-right: 10px;
          li {
            a {
              i {
                color: #9ea0a5;
              }
              &:hover {
                background: #775649;
              }
            }
          }
        }
        div.nav-dropdown-toggle {
          i {
            color: #9ea0a5;
          }
          &::before {
            left: 6px;
            right: unset;
            background-image: url('/img/icons/play-button.svg');
          }
          &:hover {
            background: #775649;
          }
        }
      }
    }
  }
}
.sidebar .nav-link .nav-icon {
  font-size: 1.1rem !important;
  margin-right: 10px;
  color: rgb(170, 165, 162);
}
.sidebar .nav-link.active {
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(65, 48, 42, 0.15);
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar .nav-link.active .nav-icon {
  color: white;
}
.sidebar .nav-link:hover {
  background: #775649;
  border-radius: 5px;
}
.progress {
  height: 7px;
  .progress-bar {
    background-color: #8a6454;
  }
}

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #9ea0a5 50%),
    linear-gradient(135deg, #9ea0a5 50%, transparent 50%);
  // linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 4px 4px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  // &::after {
  //   display: inline-block;
  //   margin-left: 0.255em;
  //   vertical-align: 0.255em;
  //   content: "";
  //   border-top: 0.3em solid;
  //   border-right: 0.3em solid transparent;
  //   border-bottom: 0;
  //   border-left: 0.3em solid transparent;
  // }
}
select option {
  margin: 30px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background: rgba($color: #775649, $alpha: 0.05);
}
  // ::-webkit-scrollbar {
  //   background-color: #fff;
  //   width: 16px;
  // }
  // ::-webkit-scrollbar-track {
  //   background-color: #fff;
  // }
  // ::-webkit-scrollbar-thumb {
  //   background-color: #babac0;
  //   border-radius: 16px;
  //   border: 4px solid #fff;
  // }
  // ::-webkit-scrollbar-button {
  //   display: none;
  // }

.clickable-text {
  &:hover {
    font-weight: 400;
    cursor: pointer;
  }
}
.clickable-icon {
  color: #9ea0a5;
  &:hover {
    color: #775649;
    cursor: pointer;
  }
}

.user-custom-select {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: #202020;
  border: solid 1px #ebebeb;
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 40px;
  &:hover {
    -webkit-box-shadow: 0 0 3px 0 #775649;
    box-shadow: 0 0 3px 0 #775649;
  }

  ul {
    width: 100%;
  }
  .nav-link {
    color: #202020;
    padding: 0.5rem 2rem 0.5rem 1rem !important;
    overflow: hidden;
  }
  .dropdown-toggle {
    i {
      margin-right: 17px;

      color: #9ea0a5;
    }
    &::after {
      color: #9ea0a5;
      position: absolute;
      right: 1.255em;
    }
    &:hover {
      i {
        color: #775649;
      }
    }
  }
  .dropdown-menu {
    margin: 5px 0 0;
    max-height: 400px;
    overflow-y: auto;
  }
  .dropdown-item {
    height: 40px;
    color: #202020;
  }
  .dropdown {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .app-header {
    padding-right: 3px !important;
    .navbar-toggler {
      min-width: 30px;
    }
  }
}
@media (max-width: 575px) {
  .sidebar {
    padding-top: 55px;
  }
}
@media (max-width: 992px) {
  .sidebar {
    height: 100vh;
  }
  .main-container {
    padding: 68px 10px !important;
  }
}

.app-header .nav-item {
  display: flex;
  justify-content: center;
}

.collapse-header {
  .collapse-icon {
    transition: transform 0.25s linear;
    -webkit-transition: -webkit-transform 0.25s linear;
  }
}
.collapse-header[aria-expanded="true"] {
  .collapse-icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  color: #202020;
}
.custom-control-label {
  font-weight: unset;
}
// .collapse-header[aria-expanded="false"] {
//   .collapse-icon {
//   }
// }

.tooltip {
  .arrow {
    &::before {
      border-top-color: transparent;
    }
  }
  .tooltip-inner {
    max-width: 400;
    background: #41302a;
    border-radius: 4px;
  }
}

.User1-style {
  color: #ee9964 !important;
}
.User2-style {
  color: #60ccd8 !important;
}
.User3-style {
  color: #d5c45c !important;
}
.toast-icon {
  top: 18px !important;
}
.cxlt-toastr-container > div {
  opacity: 1 !important;
}

.logout {
  position: absolute;
  padding: 15px;
  width: 100%;
  bottom: 0;
}
.modal-header {
  border-bottom: none;
}

.content-dash {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: dashed 2px #ebebeb;
  background-color: #fcfafa;
  position: relative;
}
@media (max-width: 991.98px){
  .app-header .navbar-brand {
      position: unset;
      top: unset;
      left: unset; 
      margin-left: unset;
  }
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.d-mobile-none {
  @media (max-width: 500px) {
    display: none !important;
  }
}